@font-face {
    font-family: 'robotobold';
    src: url('../font/robotobold.woff2') format('woff2'),
         url('../font/robotobold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotomedium';
    src: url('../font/robotomedium.woff2') format('woff2'),
         url('../font/robotomedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto';
    src: url('../font/roboto.woff2') format('woff2'),
         url('../font/roboto.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #283136;
    background-color: #ffffff;
}
.visually-hidden:not(:focus):not(:active),
input [type="checkbox"].visually-hidden,
input [type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
a{
    text-decoration: none;
}
.button{
    font-family: 'robotomedium';
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
    background-color: #fb565a;
    border-radius: 3px;
}
   .button:hover{
    background-color: #e74246;
   }
   .button:focus{
     color: #df6063;
     background-color: #d7373b;
   }

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-header {
    background-color: #eeeeee;
}

.main-navigation {
    display: flex;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    
}

.main-logo {
    width: 300px;
    padding-top: 50px;
    
}


.site-navigation {
    width: 670px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-left: auto;
}

.main-navigation ul{
    list-style: none;
    padding-top: 85px;

}
.site-navigation a{
    color: #283136;
    padding-top: 85px;
    padding-left: 24px;
    padding-right: 24px;
}
.site-navigation a:hover{
    color:#f87c7f;
}
.site-navigation a:focus{
    color: #bcbcbc;
}

.shopping-cart {
    display: flex;
    margin-left: auto;
    max-width: 120px;
    padding:0;
    margin: 0;
    padding-top: 85px;
}

.shopping-cart a{
    color: #283136;
}
.shopping-cart a:hover{
    color: #f87c7f;
}
.shopping-cart a:focus{
    color: #bcbcbc;
}

.slider {
    position: relative;
    background-color: #eeeeee;
}

.slider-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slider-item {
    display: none;
    padding: 78px 0 80px 0;
    
}

.slider-item:nth-child(1) {
    display: block;
}

.slider-item h3 {
    max-width: 600px;
    margin: 0;
    margin-bottom: 27px;
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}

.slider-item p {
    max-width: 430px;
    margin:0;
    margin-bottom: 38px;
}

.slider-item:nth-child(1) {
    background-image: url("../img/slide1.png");
    background-repeat: no-repeat;
    background-position: 93% 18px;
}

.slider-item:nth-child(2) {
    background-image: url("../img/slide2.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
}

.slider-item:nth-child(3) {
    background-image: url("../img/slide3.png");
    background-repeat: no-repeat;
    background-position: 100% 20px;
}

.slider-button {
    display: block;
    width: 240px;
    background-color: #fb565a;
    padding: 13px 0;
}

.slider-control {
    position: absolute;
    left: 50%;
    bottom: 104px;
    z-index: 100;
    width: 160px;
    height: 18px;
    text-align: center;
    font-size: 0;
    transform: translateX(-50%);
}

.slider-control i {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}

.slider-control i::after {
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;
    content: "";
    width: 18px;
    height: 18px;
    background: #ffffff;
    border-radius: 50%;
}

.slider-control .active::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 4px;
    height: 4px;
    margin: -4px;
    background-color: inherit;
    border-radius: 50%;
    border: 2px solid #c1c1c1;


}

.services h3{
    text-transform: uppercase;
}
.services-list{
    list-style: none;
}
.button-app{
    background-color: #00ca74;
}
.button-app:hover{
    background-color: #00bc6c;
}
.button-app:focus{
    color: #36bc83;
    background-color: #00aa62;
    border-top: 2px solid #0c9e60;
}
.button-presentation{
    background-color: #efc84a;
}
.button-presentation:hover{
    background-color: #eab534;
}
.button-presentation:focus{
    color: #ebba51;
    background-color: #eab534;
    border-top: 2px solid #ce961f;
}
.about-us ul{
    list-style: none;
}
.about-us-heading{
    font-family: "robotomedium";
    font-size: 45px;
    line-height: 45px;
}
.advantages-heading{
    text-transform: uppercase;
}
.advantages-list p{
    font-family: 'robotobold';
    font-size: 45px;
    color:#000000;
}
.advantages-small{
    color: #283136;
    font-family: 'roboto';
    text-transform: none;
}
.portfolio ul{
    list-style:none;
}
.map h2{
    font-family: "robotobold";
    font-size: 18px;
    text-transform: uppercase;
}
.footer-social ul{
    list-style: none;
}
.footer-heading b{
    color: #000000;
    font-family: 'robotobold';
    font-size: 36px;
    line-height: 36px;
}