@font-face {
    font-family: 'robotobold';
    src: url('../font/robotobold.woff2') format('woff2'),
         url('../font/robotobold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotomedium';
    src: url('../font/robotomedium.woff2') format('woff2'),
         url('../font/robotomedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto';
    src: url('../font/roboto.woff2') format('woff2'),
         url('../font/roboto.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #283136;
    background-color: #ffffff;
}
.visually-hiden{
    display: none;
}
a{
    text-decoration: none;
}
.button{
    font-family: 'robotomedium';
    line-height: 18px;
    text-transform: uppercase;
    vertical-align: middle;
    color: #ffffff;
    background-color: #fb565a;
    border-radius: 3px;
}
   .button:hover{
    background-color: #e74246;
   }
   .button:focus{
     color: #df6063;
     background-color: #d7373b;
     border-top: 2px solid #c13135;

   }
.main-navigation ul{
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    list-style: none;
}
.site-navigation a{
    color: #283136;
}
.site-navigation a:hover{
    color:#f87c7f;
}
.site-navigation a:focus{
    color: #bcbcbc;
}
.shopping-cart a{
    color: #283136;
}
.shopping-cart a:hover{
    color: #f87c7f;
}
.shopping-cart a:focus{
    color: #bcbcbc;
}
.services h3{
    text-transform: uppercase;
}
.services-list{
    list-style: none;
}
.button-app{
    background-color: #00ca74;
}
.button-app:hover{
    background-color: #00bc6c;
}
.button-app:focus{
    color: #36bc83;
    background-color: #00aa62;
    border-top: 2px solid #0c9e60;
}
.button-presentation{
    background-color: #efc84a;
}
.button-presentation:hover{
    background-color: #eab534;
}
.button-presentation:focus{
    color: #ebba51;
    background-color: #eab534;
    border-top: 2px solid #ce961f;
}
.about-us ul{
    list-style: none;
}
.about-us-heading{
    font-family: "robotomedium";
    font-size: 45px;
    line-height: 45px;
}
.advantages-heading{
    text-transform: uppercase;
}
.advantages-list p{
    font-family: 'robotobold';
    font-size: 45px;
    color:#000000;
}
.advantages-small{
    color: #283136;
    font-family: 'roboto';
    text-transform: none;
}
.portfolio ul{
    list-style:none;
}
.map h2{
    font-family: "robotobold";
    font-size: 18px;
    text-transform: uppercase;
}
.footer-social ul{
    list-style: none;
}
.footer-heading b{
    color: #000000;
    font-family: 'robotobold';
    font-size: 36px;
    line-height: 36px;
}